body{
    background-image: url(./images/bg-pattern-desktop.svg);
    height: max-content;
    margin: auto;
}

.base{
    height: 20px;
    padding-top: 10px;
    padding-left: 500px;
}
.mobile{
     margin: auto;
     padding-left: 500px;
}
.soon{
    font-family: monospace;
    letter-spacing: 10px;
    text-align: center;
}
.para{
    text-align: center;
    color: plum;
}
.email{
    border: 1px solid plum;
    border-radius: 15px;
    margin: auto;
    height: 35px;
    width: 280px;
    margin-left: 510px;
    color: plum;

}
